@charset "utf-8";
/* CSS Document @import "head.css" */


	h1
	{
		color:#FFFFFF;
		
	}
  
	body {
    color: purple;
    background-color: #d8da3d;
	padding:20px;
	
	} 
div * {
	color:#000000; 
}
 label
 {
	 color:#FF0004; 
 }
	 
